[submodule "meta/plugins/dotbot-unipkg"]
	path = meta/plugins/dotbot-unipkg
	url = https://github.com/smitropoulos/dotbot-unipkg
	ignore = dirty
[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
